@model Cinema.ViewModels.LoginVM

@{
    ViewData["Title"] = "Login";
}

<div class="container">
    <h1>Login</h1>

    <hr />
    <div class="row" style="min-height:40vh">
        <div class="col-md-12">
            <form asp-action="Login">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="EmailOrUserName" class="control-label"></label>
                    <input asp-for="EmailOrUserName" class="form-control" />
                    <span asp-validation-for="EmailOrUserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                  <br />
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="RememberMe" /> @Html.DisplayNameFor(model => model.RememberMe)
                    </label>
                </div>
                <div class="form-group mt-3">
                    <input type="submit" value="Login" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <partial name="_ExternalAuthenticationPartial" />
    <div>
        <a asp-action="Index">Back to List</a><br>
        <a asp-action="Register">Register</a><br>
        <a asp-action="ResendEmailConfirmation">Resend Email Confirmation</a><br>
        <a asp-action="ForgetPassword">Forget Password</a><br>
    </div>

</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <partial name="_NotificationPartial.cshtml" />
}


