@model Cinema.ViewModels.ResetPasswordVM

@{
    ViewData["Title"] = "ResetPassword";
}

<div class="container">
    <h1>ResetPassword</h1>

    <h4>ResetPasswordVM</h4>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <form asp-action="ResetPassword">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" name="ApplicationUserId" value="@Model.ApplicationUserId" />
                <div class="form-group">
                    <label asp-for="OTPNumber" class="control-label"></label>
                    <input asp-for="OTPNumber" class="form-control" />
                    <span asp-validation-for="OTPNumber" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Login">Back to Login</a>
    </div>

</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <partial name="_NotificationPartial.cshtml" />
}
