body {
    background-color: #f8f9fa;
}

.movie-card {
    transition: transform 0.3s, box-shadow 0.3s;
}

    .movie-card:hover {
        transform: translateY(-10px);
        box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    }

.card img {
    height: 300px;
    object-fit: cover;
}
